Repository softeerbootcamp/Team1-TDD, pull requests merged in 2023-02, with the labels that each got.

#15 Front-end 개발환경 세팅
  front-end/.eslintrc.json
  front-end/.gitignore
  front-end/index.html
  front-end/package-lock.json
  front-end/package.json
  front-end/public/TDDlogo.svg
  front-end/public/vite.svg
  front-end/src/apis/index.ts
  front-end/src/app.ts
  front-end/src/assets/typescript.svg
  front-end/src/components/Footer/Footer.ts
  front-end/src/components/Navbar/Navbar.ts
  front-end/src/components/app.ts
  front-end/src/constants/constant.ts
  front-end/src/core/Component.ts
  front-end/src/core/Store.ts
  front-end/src/main.ts
  front-end/src/pages/home.ts
  front-end/src/store/store.ts
  front-end/src/styles/main.scss
  front-end/src/styles/style.css
  front-end/src/utils/counter.ts
  front-end/src/utils/querySelector.ts
  front-end/src/vite-env.d.ts
  front-end/tsconfig.json
  front-end/vite.config.ts
Labels: ⚙ Setting

#16 Be/feature/#7 environment : 백엔드 서버 개발환경 세팅
  .gitignore
  back-end/.gitignore
  back-end/build.gradle
  back-end/gradle/wrapper/gradle-wrapper.jar
  back-end/gradle/wrapper/gradle-wrapper.properties
  back-end/gradlew
  back-end/gradlew.bat
  back-end/settings.gradle
  back-end/src/main/java/com/tdd/backend/BackEndApplication.java
  back-end/src/test/java/com/tdd/backend/BackEndApplicationTests.java
Labels: ⚙ Setting

#18 네이게이션바 마크업 및 라우터 구성
  front-end/src/components/Navbar/Navbar.scss
  front-end/src/components/Navbar/Navbar.ts
  front-end/src/components/app.ts
  front-end/src/core/Router.ts
  front-end/src/styles/main.scss
Labels: ✨ Feature, 🎨 Html&css

#19 Be/feature/#17 도메인 설계
  back-end/src/main/java/com/tdd/backend/post/Appointment.java
  back-end/src/main/java/com/tdd/backend/post/Category.java
  back-end/src/main/java/com/tdd/backend/post/DriveCareer.java
  back-end/src/main/java/com/tdd/backend/post/Location.java
  back-end/src/main/java/com/tdd/backend/post/Option.java
  back-end/src/main/java/com/tdd/backend/post/Options.java
  back-end/src/main/java/com/tdd/backend/post/Post.java
  back-end/src/main/java/com/tdd/backend/post/PostRepository.java
  back-end/src/main/java/com/tdd/backend/post/PostService.java
  back-end/src/main/java/com/tdd/backend/user/User.java
  back-end/src/main/java/com/tdd/backend/user/UserRepository.java
  back-end/src/main/java/com/tdd/backend/user/UserService.java
  back-end/src/main/resources/schema.sql
  back-end/src/test/java/com/tdd/backend/post/PostServiceTest.java
  back-end/src/test/java/com/tdd/backend/user/UserServiceTest.java
Labels: ✨ Feature

#25 Be/feature/#22 백엔드 개발환경에 lombok, swagger 설정 추가
  back-end/build.gradle
  back-end/src/main/java/com/tdd/backend/config/SwaggerConfig.java
Labels: ⚙ Setting

#24 [Fe] feature : nav progress bar
  front-end/src/components/Navbar/Navbar.module.scss
  front-end/src/components/Navbar/Navbar.ts
  front-end/src/styles/main.scss
Labels: ✨ Feature

#21 style(#20): main width, margin 수정, box-sizing 수정
  front-end/src/styles/main.scss
Labels: 🐞 BugFix, 🎨 Html&css

#27 [FE]feature(#26) : image slider 구현
  front-end/src/assets/001_아이오닉6.png
  front-end/src/assets/002_아이오닉5.png
  front-end/src/assets/003_넥쏘.png
  front-end/src/assets/004_포터2_전기.png
  front-end/src/assets/005_포터2_전기_탑차.png
  front-end/src/assets/006_포터2_전기_윙바디.png
  front-end/src/assets/007_포터2_파워게이트.png
  front-end/src/assets/008_아반떼N.png
  front-end/src/assets/009_아벤떼N_Line.png
  front-end/src/assets/010_쏘나타N_Line.png
  front-end/src/assets/011_투싼N.png
  front-end/src/assets/012_투싼N_Hybrid.png
  front-end/src/assets/013_그랜저.png
  front-end/src/assets/014_그랜저_Hybrid.png
  front-end/src/assets/015_아반떼.png
  front-end/src/assets/016_아반떼_Hybrid.png
  front-end/src/assets/017_쏘나타.png
  front-end/src/assets/018_쏘나타_Hybrid.png
  front-end/src/assets/019_코나.png
  front-end/src/assets/020_코나_Hybrid.png
  front-end/src/assets/021_스타리아.png
  front-end/src/assets/022_포터.png
  front-end/src/components/ImageSlider/ImageSlider.module.scss
  front-end/src/components/ImageSlider/ImageSlider.ts
  front-end/src/components/ImageSlider/icon.ts
  front-end/src/constants/carList.ts
  front-end/src/core/Component.ts
Labels: ✨ Feature

#29 Be/feature/#28 API 명세 Swagger 자동화 작업
  back-end/src/main/java/com/tdd/backend/config/SwaggerConfig.java
  back-end/src/main/java/com/tdd/backend/post/PostCotroller.java
  back-end/src/main/java/com/tdd/backend/user/UserController.java
Labels: ✨ Feature

#31 [BE]feature(#30) : 코드 리팩토링
  back-end/src/main/java/com/tdd/backend/post/Options.java
  back-end/src/main/java/com/tdd/backend/post/Post.java
  back-end/src/main/java/com/tdd/backend/post/RideOption.java
  back-end/src/main/resources/schema.sql
  back-end/src/test/java/com/tdd/backend/post/PostServiceTest.java
Labels: 🔨 Refactor

#35 [BE]feature(#34) : 백엔드 배포 자동화
  .github/workflows/main.yml
  back-end/dockerfile
Labels: 🌏 Deploy

#37 [BE]fix(#34) 자동 배포 수정
  .github/workflows/main.yml
Labels: 🌏 Deploy

#33 [FE]feature(#32): 홈페이지 마크업
  front-end/src/assets/share.png
  front-end/src/assets/sharing.png
  front-end/src/assets/use.png
  front-end/src/components/Home/Home.module.scss
  front-end/src/components/Home/Home.ts
  front-end/src/components/Home/template.ts
Labels: ✨ Feature, 🎨 Html&css

#40 [Fe] fix: router 로직 전체적으로 수정
  front-end/src/app.ts
  front-end/src/components/Navbar/Navbar.ts
  front-end/src/constants/routeInfo.ts
  front-end/src/core/Router.ts
  front-end/src/pages/aboutus.ts
  front-end/src/pages/experiencing.ts
  front-end/src/pages/notfound.ts
  front-end/src/pages/sharing.ts
  front-end/src/utils/navigatator.ts
Labels: 🐞 BugFix, 🔨 Refactor

#42 [Be]feature(#34) 자동 배포 수정2
  .github/workflows/main.yml
  back-end/dockerfile
Labels: 🐞 BugFix, 🌏 Deploy

#51 [BE] feature (#47) 유저 회원가입
  back-end/build.gradle
  back-end/src/main/java/com/tdd/backend/exception/ErrorResponse.java
  back-end/src/main/java/com/tdd/backend/exception/ExceptionController.java
  back-end/src/main/java/com/tdd/backend/user/User.java
  back-end/src/main/java/com/tdd/backend/user/UserController.java
  back-end/src/main/java/com/tdd/backend/user/UserRepository.java
  back-end/src/main/java/com/tdd/backend/user/UserService.java
  back-end/src/main/java/com/tdd/backend/user/data/UserCreate.java
  back-end/src/main/java/com/tdd/backend/user/exception/DuplicateEmailException.java
  back-end/src/main/resources/schema.sql
  back-end/src/test/http/user.http
  back-end/src/test/java/com/tdd/backend/post/PostServiceTest.java
  back-end/src/test/java/com/tdd/backend/user/UserControllerTest.java
  back-end/src/test/java/com/tdd/backend/user/UserServiceTest.java
Labels: ✨ Feature, 📬 API

#59 [Fe] feature(#53): car option selector
  front-end/src/components/OptionForm/OptionForm.module.scss
  front-end/src/components/OptionForm/OptionForm.ts
  front-end/src/core/Store.ts
  front-end/src/store/OptionStore/OptionStore.ts
Labels: ✨ Feature

#63 fix: deploy 위해서 파일 소소한 수정
  .env
  front-end/src/constants/constant.ts
  front-end/src/core/Router.ts
  front-end/src/pages/aboutus.ts
  front-end/src/pages/home.ts
  front-end/src/store/store.ts
Labels: 🌏 Deploy

#64 [FE]feature(#62 ): 홈페이지 마크업
  front-end/src/components/Clauses/Clauses.module.scss
  front-end/src/components/Clauses/Clauses.ts
  front-end/src/components/Clauses/template.ts
Labels: ✨ Feature, 🎨 Html&css

#68 [FE] feature(#56): 경험하기 지도 마크업
  front-end/src/components/ExperienceMap/ExperienceMap.module.scss
  front-end/src/components/ExperienceMap/ExperienceMap.ts
  front-end/src/components/ExperienceMap/dummyData.ts
Labels: ✨ Feature

#69 [Fe] fix(#65): s3 image 경로
  front-end/package.json
  front-end/src/assets/001_아이오닉6.png
  front-end/src/assets/002_아이오닉5.png
  front-end/src/assets/003_넥쏘.png
  front-end/src/assets/004_포터2_전기.png
  front-end/src/assets/005_포터2_전기_탑차.png
  front-end/src/assets/006_포터2_전기_윙바디.png
  front-end/src/assets/007_포터2_파워게이트.png
  front-end/src/assets/008_아반떼N.png
  front-end/src/assets/009_아벤떼N_Line.png
  front-end/src/assets/010_쏘나타N_Line.png
  front-end/src/assets/011_투싼N.png
  front-end/src/assets/012_투싼N_Hybrid.png
  front-end/src/assets/013_그랜저.png
  front-end/src/assets/014_그랜저_Hybrid.png
  front-end/src/assets/015_아반떼.png
  front-end/src/assets/016_아반떼_Hybrid.png
  front-end/src/assets/017_쏘나타.png
  front-end/src/assets/018_쏘나타_Hybrid.png
  front-end/src/assets/019_코나.png
  front-end/src/assets/020_코나_Hybrid.png
  front-end/src/assets/021_스타리아.png
  front-end/src/assets/022_포터.png
  front-end/src/assets/share.png
  front-end/src/assets/sharing.png
  front-end/src/assets/typescript.svg
  front-end/src/assets/use.png
  front-end/src/components/Home/template.ts
  front-end/src/components/ImageSlider/ImageSlider.ts
  front-end/src/constants/carList.ts
Labels: 🐞 BugFix

#72 [Be] feature(#48): 특정 차종에 대한 옵션 렌더링 api
  back-end/src/main/java/com/tdd/backend/option/Category.java
  back-end/src/main/java/com/tdd/backend/option/EntireOption.java
  back-end/src/main/java/com/tdd/backend/option/data/OptionDto.java
  back-end/src/main/java/com/tdd/backend/option/data/OptionResponse.java
  back-end/src/main/java/com/tdd/backend/option/render/RenderController.java
  back-end/src/main/java/com/tdd/backend/option/render/RenderService.java
  back-end/src/main/java/com/tdd/backend/option/render/SpecificCarOption.java
  back-end/src/main/java/com/tdd/backend/post/Category.java
  back-end/src/main/java/com/tdd/backend/post/Option.java
  back-end/src/main/java/com/tdd/backend/post/Options.java
  back-end/src/main/java/com/tdd/backend/post/PostController.java
  back-end/src/test/http/render.http
  back-end/src/test/java/com/tdd/backend/post/PostServiceTest.java
  back-end/src/test/java/com/tdd/backend/render/RenderControllerTest.java
Labels: ✨ Feature, 📬 API

#73 [Be] feature (#58) 쿠키 기반 로그인 및 인증 구현
  back-end/src/main/java/com/tdd/backend/auth/AuthResolver.java
  back-end/src/main/java/com/tdd/backend/auth/LoginUser.java
  back-end/src/main/java/com/tdd/backend/config/WebMvcConfig.java
  back-end/src/main/java/com/tdd/backend/exception/ErrorResponse.java
  back-end/src/main/java/com/tdd/backend/exception/ExceptionController.java
  back-end/src/main/java/com/tdd/backend/user/DummyController.java
  back-end/src/main/java/com/tdd/backend/user/SessionStorage.java
  back-end/src/main/java/com/tdd/backend/user/User.java
  back-end/src/main/java/com/tdd/backend/user/UserController.java
  back-end/src/main/java/com/tdd/backend/user/UserService.java
  back-end/src/main/java/com/tdd/backend/user/data/SessionResponse.java
  back-end/src/main/java/com/tdd/backend/user/data/UserCreate.java
  back-end/src/main/java/com/tdd/backend/user/data/UserLogin.java
  back-end/src/main/java/com/tdd/backend/user/data/UserSession.java
  back-end/src/main/java/com/tdd/backend/user/exception/UnauthorizedException.java
  back-end/src/main/java/com/tdd/backend/user/exception/UserNotFoundException.java
  back-end/src/test/http/user.http
  back-end/src/test/java/com/tdd/backend/post/PostServiceTest.java
  back-end/src/test/java/com/tdd/backend/user/UserControllerTest.java
  back-end/src/test/java/com/tdd/backend/user/UserServiceTest.java
Labels: ✨ Feature, 📬 API, ✅ Test

#80 [Be]feature(#61) sharing 구현
  back-end/src/main/java/com/tdd/backend/option/Category.java
  back-end/src/main/java/com/tdd/backend/option/data/OptionDto.java
  back-end/src/main/java/com/tdd/backend/post/Location.java
  back-end/src/main/java/com/tdd/backend/post/PostController.java
  back-end/src/main/java/com/tdd/backend/post/PostRepository.java
  back-end/src/main/java/com/tdd/backend/post/PostService.java
  back-end/src/main/java/com/tdd/backend/post/data/LocationDto.java
  back-end/src/main/java/com/tdd/backend/post/data/SharingDto.java
  back-end/src/main/java/com/tdd/backend/post/model/Appointment.java
  back-end/src/main/java/com/tdd/backend/post/model/AppointmentStatus.java
  back-end/src/main/java/com/tdd/backend/post/model/DriveCareer.java
  back-end/src/main/java/com/tdd/backend/post/model/Location.java
  back-end/src/main/java/com/tdd/backend/post/model/Option.java
  back-end/src/main/java/com/tdd/backend/post/model/Post.java
  back-end/src/main/java/com/tdd/backend/post/model/RideOption.java
  back-end/src/main/java/com/tdd/backend/user/User.java
  back-end/src/main/java/com/tdd/backend/user/data/UserSession.java
  back-end/src/main/resources/schema.sql
  back-end/src/test/http/sharing.http
  back-end/src/test/http/user.http
  back-end/src/test/java/com/tdd/backend/post/PostControllerTest.java
  back-end/src/test/java/com/tdd/backend/post/PostServiceTest.java
  back-end/src/test/java/com/tdd/backend/user/UserControllerTest.java
  back-end/src/test/java/com/tdd/backend/user/UserServiceTest.java
Labels: 📬 API, ✅ Test, 🦦back-end

#86 feature(#85): 캘린더 마크업 구현
  front-end/src/components/Calendar/Calendar.module.scss
  front-end/src/components/Calendar/Calendar.ts
  front-end/src/components/Calendar/constants.ts
  front-end/src/components/Calendar/icon.ts
Labels: ✨ Feature, 🎨 Html&css, 🐱front-end

#88 chore(#79) 백엔드 개발환경 분리, 도메인 주소를 파일변수로 설정
  back-end/.gitignore
  back-end/src/main/java/com/tdd/backend/config/WebMvcConfig.java
  back-end/src/main/java/com/tdd/backend/exception/ExceptionController.java
  back-end/src/main/java/com/tdd/backend/user/DummyController.java
  back-end/src/main/java/com/tdd/backend/user/UserController.java
  back-end/src/test/http/http-client.env.json
  back-end/src/test/http/render.http
  back-end/src/test/http/test.http
  back-end/src/test/http/user.http
Labels: ⚙ Setting, 🌏 Deploy, ✅ Test, 🦦back-end

#89 feature (#74) 비밀번호 BCrypt 암호화 적용
  back-end/build.gradle
  back-end/src/main/java/com/tdd/backend/user/DummyController.java
  back-end/src/main/java/com/tdd/backend/user/User.java
  back-end/src/main/java/com/tdd/backend/user/UserController.java
  back-end/src/main/java/com/tdd/backend/user/UserRepository.java
  back-end/src/main/java/com/tdd/backend/user/UserService.java
  back-end/src/main/java/com/tdd/backend/user/util/EncryptHelper.java
  back-end/src/main/java/com/tdd/backend/user/util/SaltingEncrypt.java
  back-end/src/test/java/com/tdd/backend/user/UserControllerTest.java
  back-end/src/test/java/com/tdd/backend/user/UserServiceTest.java
  back-end/src/test/java/com/tdd/backend/user/util/SaltingEncryptTest.java
Labels: ✨ Feature, 🦦back-end

#90 feature(#49) auto distribution
  .env
  .github/workflows/main.yml
  back-end/src/main/java/com/tdd/backend/user/UserController.java
  front-end/dockerfile
  front-end/package.json
Labels: 🌏 Deploy, 🐱front-end, 🦦back-end

#94 feature(#84) Enum으로 특정 차의 옵션들을 데이터베이스 화
  .github/workflows/main.yml
  back-end/src/main/java/com/tdd/backend/car/Car.java
  back-end/src/main/java/com/tdd/backend/car/CarRepository.java
  back-end/src/main/java/com/tdd/backend/option/render/RenderOption.java
  back-end/src/main/java/com/tdd/backend/option/render/RenderRepository.java
  back-end/src/main/java/com/tdd/backend/option/render/RenderService.java
  back-end/src/main/java/com/tdd/backend/option/render/SpecificCarOption.java
  back-end/src/main/resources/data.sql
  back-end/src/main/resources/schema.sql
Labels: ✨ Feature, 🦦back-end

#95 #93: 로그인 폼 구현
  front-end/index.html
  front-end/src/components/LoginForm/LoginForm.module.scss
  front-end/src/components/LoginForm/LoginForm.ts
  front-end/src/components/Navbar/Navbar.ts
  front-end/src/main.ts
  front-end/src/pages/aboutus.ts
  front-end/src/styles/main.scss
  front-end/src/utils/loginModal.ts
  front-end/src/utils/overlay.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API, 🐱front-end

#99 feat(#91) 세션 기반 인증방식에서 jwt를 적용한 토큰 방식으로 변경
  back-end/build.gradle
  back-end/dockerfile
  back-end/src/main/java/com/tdd/backend/auth/AuthResolver.java
  back-end/src/main/java/com/tdd/backend/auth/CORSFilter.java
  back-end/src/main/java/com/tdd/backend/auth/JwtTokenProvider.java
  back-end/src/main/java/com/tdd/backend/config/WebMvcConfig.java
  back-end/src/main/java/com/tdd/backend/option/render/RenderController.java
  back-end/src/main/java/com/tdd/backend/user/DummyController.java
  back-end/src/main/java/com/tdd/backend/user/SessionStorage.java
  back-end/src/main/java/com/tdd/backend/user/UserController.java
  back-end/src/main/java/com/tdd/backend/user/UserService.java
  back-end/src/main/java/com/tdd/backend/user/data/TokenResponse.java
  back-end/src/main/java/com/tdd/backend/user/data/UserSession.java
  back-end/src/main/java/com/tdd/backend/user/data/UserToken.java
  back-end/src/test/http/http-client.env.json
  back-end/src/test/http/test.http
  back-end/src/test/http/user.http
  back-end/src/test/java/com/tdd/backend/user/UserControllerTest.java
  back-end/src/test/java/com/tdd/backend/user/UserServiceTest.java
  back-end/src/test/java/com/tdd/backend/user/util/JwtEncryptTest.java
  front-end/src/components/LoginForm/LoginForm.ts
  front-end/vite.config.ts
  package-lock.json
Labels: 🐞 BugFix, ✨ Feature, 🥰 Accessibility, 🦦back-end

#98 refactor(#92) 지도 리팩토링 및 기능 추가
  front-end/src/components/ExperienceMap/ExperienceMap.ts
  front-end/src/components/SharingMap/SharingMap.ts
  front-end/src/utils/googleAPI.ts
Labels: 🐞 BugFix, 🔨 Refactor, 🐱front-end

#109 fix: CORS filter 관련 Allow-Header 에 Authorization 헤더 추가
  back-end/src/main/java/com/tdd/backend/auth/CORSFilter.java
Labels: 🐞 BugFix, 🦦back-end

#101 fix(#97) 캘린더 데이터가 유지되지 않는 문제 수정 및 API Key 노출된 점 수정
  front-end/src/components/Calendar/Calendar.ts
  front-end/src/components/ExperienceMap/ExperienceMap.ts
  front-end/src/components/SharingMap/SharingMap.ts
Labels: 🐞 BugFix, 🔨 Refactor, 🐱front-end

#106 style(#103) 홈페이지 애니메이션 수정 및 추가
  front-end/src/components/Home/Home.module.scss
  front-end/src/components/Home/Home.ts
  front-end/src/components/Home/template.ts
Labels: 🐞 BugFix, 🎨 Html&css, 🐱front-end

#110 feature(#82) driving api 개발
  back-end/src/main/java/com/tdd/backend/option/data/OptionDto.java
  back-end/src/main/java/com/tdd/backend/option/render/RenderService.java
  back-end/src/main/java/com/tdd/backend/post/PostController.java
  back-end/src/main/java/com/tdd/backend/post/PostRepository.java
  back-end/src/main/java/com/tdd/backend/post/controller/DrivingController.java
  back-end/src/main/java/com/tdd/backend/post/controller/SharingController.java
  back-end/src/main/java/com/tdd/backend/post/data/AppointmentDto.java
  back-end/src/main/java/com/tdd/backend/post/data/DrivingResponse.java
  back-end/src/main/java/com/tdd/backend/post/data/LocationDto.java
  back-end/src/main/java/com/tdd/backend/post/data/PostDto.java
  back-end/src/main/java/com/tdd/backend/post/data/SharingDto.java
  back-end/src/main/java/com/tdd/backend/post/data/TesterDto.java
  back-end/src/main/java/com/tdd/backend/post/model/Appointment.java
  back-end/src/main/java/com/tdd/backend/post/model/Location.java
  back-end/src/main/java/com/tdd/backend/post/model/Option.java
  back-end/src/main/java/com/tdd/backend/post/model/Post.java
  back-end/src/main/java/com/tdd/backend/post/repository/PostRepository.java
  back-end/src/main/java/com/tdd/backend/post/service/DrivingService.java
  back-end/src/main/java/com/tdd/backend/post/service/SharingService.java
  back-end/src/main/resources/schema.sql
  back-end/src/test/http/driving.http
  back-end/src/test/http/sharing.http
  back-end/src/test/java/com/tdd/backend/post/PostControllerTest.java
Labels: ✨ Feature, 📬 API, 🔨 Refactor, 🦦back-end

#119 feat(#116): footer 마크업
  front-end/src/components/Footer/Footer.ts
  front-end/src/styles/main.scss
Labels: ✨ Feature, 🎨 Html&css, 🐱front-end

#123 fix: email 중복 체크 API 오타 수정
  back-end/src/main/java/com/tdd/backend/user/UserController.java
Labels: 🐞 BugFix, 📬 API, 🦦back-end

#120 refactor(#112) 약관페이지 router에 따른 text 수정 및 리팩토링
  front-end/src/components/Clauses/Clauses.ts
  front-end/src/components/Clauses/template.ts
Labels: 🔨 Refactor, 🐱front-end

#124 feature(#104): login api 연동
  front-end/src/apis/index.ts
  front-end/src/apis/login.ts
  front-end/src/app.ts
  front-end/src/components/LoginForm/LoadingHandler.ts
  front-end/src/components/LoginForm/LoginForm.module.scss
  front-end/src/components/LoginForm/LoginForm.ts
  front-end/src/components/Navbar/Navbar.module.scss
  front-end/src/components/Navbar/Navbar.ts
  front-end/src/pages/aboutus.ts
  front-end/src/pages/sharing.ts
  front-end/src/store/AuthStore.ts
  front-end/src/styles/main.scss
  front-end/src/utils/loginModal.ts
Labels: ✨ Feature, 📬 API, 🐱front-end, 🦦back-end

#129 feature(#121): 마이페이지 마크업
  front-end/src/components/MyPage/MyPage.module.scss
  front-end/src/components/MyPage/MyPage.ts
  front-end/src/components/MyPage/template.ts
Labels: ✨ Feature, 🎨 Html&css, 🐱front-end

#111 feature(#107) : JWT refresh token 구현
  back-end/src/main/java/com/tdd/backend/auth/AuthResolver.java
  back-end/src/main/java/com/tdd/backend/auth/JwtTokenProvider.java
  back-end/src/main/java/com/tdd/backend/auth/RefreshTokenStorage.java
  back-end/src/main/java/com/tdd/backend/auth/data/JwtTokenPairResponse.java
  back-end/src/main/java/com/tdd/backend/auth/exception/ExpiredATKException.java
  back-end/src/main/java/com/tdd/backend/auth/exception/InvalidTokenException.java
  back-end/src/main/java/com/tdd/backend/auth/util/EncryptHelper.java
  back-end/src/main/java/com/tdd/backend/auth/util/JwtTokenProvider.java
  back-end/src/main/java/com/tdd/backend/auth/util/SaltingEncrypt.java
  back-end/src/main/java/com/tdd/backend/config/WebMvcConfig.java
  back-end/src/main/java/com/tdd/backend/exception/ExceptionController.java
  back-end/src/main/java/com/tdd/backend/user/UserService.java
  back-end/src/main/java/com/tdd/backend/user/controller/UserController.java
  back-end/src/main/java/com/tdd/backend/user/data/TokenResponse.java
  back-end/src/main/java/com/tdd/backend/user/data/User.java
  back-end/src/main/java/com/tdd/backend/user/data/UserToken.java
  back-end/src/main/java/com/tdd/backend/user/repository/UserRepository.java
  back-end/src/main/java/com/tdd/backend/user/service/UserService.java
  back-end/src/test/http/user.http
  back-end/src/test/java/com/tdd/backend/auth/util/JwtEncryptTest.java
  back-end/src/test/java/com/tdd/backend/auth/util/SaltingEncryptTest.java
  back-end/src/test/java/com/tdd/backend/post/PostControllerTest.java
  back-end/src/test/java/com/tdd/backend/user/UserControllerTest.java
  back-end/src/test/java/com/tdd/backend/user/UserServiceTest.java
Labels: ✨ Feature, 📬 API, 🥰 Accessibility, 🦦back-end

#140 fix(#138) ExceptionController bug fix
  back-end/src/main/java/com/tdd/backend/exception/ExceptionController.java
Labels: 🐞 BugFix, 🦦back-end

#137 refactor(#133) 지도에서 geolocation 삭제 및 홈페이지 스타일 수정
  front-end/src/assets/fonts/Elice.woff
  front-end/src/assets/fonts/LINESEED.woff
  front-end/src/assets/fonts/NEXON_LV2.woff
  front-end/src/components/ExperienceMap/ExperienceMap.ts
  front-end/src/components/Home/Home.module.scss
  front-end/src/components/Home/template.ts
  front-end/src/components/SharingMap/SharingMap.ts
Labels: 🐞 BugFix, 🎨 Html&css, 🔨 Refactor, 🐱front-end

#145 feature(#117) mypage api 구현
  .github/workflows/main.yml
  back-end/src/main/java/com/tdd/backend/mypage/controller/MyPageController.java
  back-end/src/main/java/com/tdd/backend/mypage/data/DefaultInfo.java
  back-end/src/main/java/com/tdd/backend/mypage/data/DrivingInfo.java
  back-end/src/main/java/com/tdd/backend/mypage/data/MyPageResponse.java
  back-end/src/main/java/com/tdd/backend/mypage/data/SharingInfo.java
  back-end/src/main/java/com/tdd/backend/mypage/data/UserInfo.java
  back-end/src/main/java/com/tdd/backend/mypage/service/MyPageService.java
  back-end/src/main/java/com/tdd/backend/post/controller/DrivingController.java
  back-end/src/main/java/com/tdd/backend/post/controller/SharingController.java
  back-end/src/main/java/com/tdd/backend/post/data/AppointmentDto.java
  back-end/src/main/java/com/tdd/backend/post/data/TesterDto.java
  back-end/src/main/java/com/tdd/backend/post/model/Appointment.java
  back-end/src/main/java/com/tdd/backend/post/model/Location.java
  back-end/src/main/java/com/tdd/backend/post/model/Option.java
  back-end/src/main/java/com/tdd/backend/post/model/Post.java
  back-end/src/main/java/com/tdd/backend/post/repository/PostRepository.java
  back-end/src/main/java/com/tdd/backend/post/service/DrivingService.java
  back-end/src/main/java/com/tdd/backend/post/service/SharingService.java
  back-end/src/main/java/com/tdd/backend/user/data/User.java
  back-end/src/test/http/driving.http
  back-end/src/test/http/myPage.http
Labels: ✨ Feature, 📬 API, 🦦back-end

#151 fix(#149) deploy 되돌리기
  .github/workflows/main.yml
Labels: 🐞 BugFix, 🌏 Deploy

#142 feat(#135): 인증이 필요한 api -> handleAPICall 함수 구현, 로그인 로직 적용
  front-end/src/apis/login.ts
  front-end/src/app.ts
  front-end/src/components/LoginForm/LoginForm.ts
  front-end/src/components/Navbar/Navbar.module.scss
  front-end/src/components/Navbar/Navbar.ts
  front-end/src/components/Navbar/icon.ts
  front-end/src/constants/routeInfo.ts
  front-end/src/store/AuthStore.ts
Labels: ✨ Feature, 📬 API, 🐱front-end

#143 feature(#130): 글 상세페이지 마크업
  front-end/src/components/DetailPage/DetailPage.module.scss
  front-end/src/components/DetailPage/DetailPage.ts
Labels: ✨ Feature, 🎨 Html&css, 🐱front-end

#155 feature(#141) driving rendering api
  back-end/src/main/java/com/tdd/backend/post/controller/DrivingController.java
  back-end/src/main/java/com/tdd/backend/post/data/DrivingDto.java
  back-end/src/main/java/com/tdd/backend/post/repository/PostRepository.java
  back-end/src/main/java/com/tdd/backend/post/service/DrivingService.java
  back-end/src/test/java/com/tdd/backend/post/PostRepositoryTest.java
Labels: ✨ Feature, 📬 API, ✅ Test, 🦦back-end

#163 fix(#147) using jwt 하도록 사용부분 모두 수정
  back-end/src/main/java/com/tdd/backend/mypage/exception/AppointmentNotFoundException.java
  back-end/src/main/java/com/tdd/backend/mypage/exception/PostNotFoundException.java
  back-end/src/main/java/com/tdd/backend/mypage/service/MyPageService.java
  back-end/src/main/java/com/tdd/backend/post/controller/DrivingController.java
  back-end/src/main/java/com/tdd/backend/post/controller/SharingController.java
  back-end/src/main/java/com/tdd/backend/post/data/PostDto.java
  back-end/src/main/java/com/tdd/backend/post/data/SharingDto.java
  back-end/src/main/java/com/tdd/backend/post/exception/LocationNotFoundException.java
  back-end/src/main/java/com/tdd/backend/post/model/Post.java
  back-end/src/main/java/com/tdd/backend/post/service/DrivingService.java
  back-end/src/main/java/com/tdd/backend/post/service/SharingService.java
  back-end/src/test/http/driving.http
  back-end/src/test/http/sharing.http
  back-end/src/test/java/com/tdd/backend/post/PostRepositoryTest.java
Labels: 🐞 BugFix, ✨ Feature, 🦦back-end

#161 fix(#157): dropdown이 없을 때에도 close dropdown 메소드 실행되는 문제 해결
  front-end/src/components/Navbar/Navbar.ts
Labels: 🐞 BugFix, 🐱front-end

#144 feature(#136) Redis DB에 RTK 값 cache 구현
  back-end/build.gradle
  back-end/src/main/java/com/tdd/backend/auth/AuthResolver.java
  back-end/src/main/java/com/tdd/backend/auth/RefreshTokenStorage.java
  back-end/src/main/java/com/tdd/backend/auth/data/RefreshToken.java
  back-end/src/main/java/com/tdd/backend/auth/encrypt/EncryptHelper.java
  back-end/src/main/java/com/tdd/backend/auth/encrypt/SaltingEncrypt.java
  back-end/src/main/java/com/tdd/backend/auth/jwt/JwtProvider.java
  back-end/src/main/java/com/tdd/backend/auth/jwt/RefreshTokenService.java
  back-end/src/main/java/com/tdd/backend/config/RedisConfig.java
  back-end/src/main/java/com/tdd/backend/config/WebMvcConfig.java
  back-end/src/main/java/com/tdd/backend/user/controller/AuthController.java
  back-end/src/main/java/com/tdd/backend/user/controller/UserController.java
  back-end/src/main/java/com/tdd/backend/user/service/AuthService.java
  back-end/src/main/java/com/tdd/backend/user/service/UserService.java
  back-end/src/test/http/driving.http
  back-end/src/test/http/http-client.env.json
  back-end/src/test/http/render.http
  back-end/src/test/http/sharing.http
  back-end/src/test/http/user.http
  back-end/src/test/java/com/tdd/backend/auth/encrypt/JwtEncryptTest.java
  back-end/src/test/java/com/tdd/backend/auth/encrypt/SaltingEncryptTest.java
  back-end/src/test/java/com/tdd/backend/auth/jwt/RefreshTokenServiceTest.java
  back-end/src/test/java/com/tdd/backend/user/UserControllerTest.java
  back-end/src/test/java/com/tdd/backend/user/UserServiceTest.java
Labels: ✨ Feature, 🌏 Deploy, 🦦back-end

#164 fix(#162): 로그아웃하면 홈으로 리다이렉트
  front-end/src/store/AuthStore.ts
Labels: 🐞 BugFix, 🐱front-end

#169 fix(#168): delete logout api
  front-end/src/apis/login.ts
  front-end/src/components/Navbar/Navbar.ts
Labels: 🐞 BugFix, 📬 API, 🐱front-end, 🦦back-end

#170 perf: 성능향상을 위해 불필요하다고 판단되는 Redis 제거
  back-end/build.gradle
  back-end/src/main/java/com/tdd/backend/auth/jwt/JwtProvider.java
  back-end/src/main/java/com/tdd/backend/auth/jwt/RefreshTokenService.java
  back-end/src/main/java/com/tdd/backend/config/RedisConfig.java
  back-end/src/main/java/com/tdd/backend/user/controller/UserController.java
  back-end/src/main/java/com/tdd/backend/user/service/AuthService.java
  back-end/src/main/java/com/tdd/backend/user/service/UserService.java
  back-end/src/test/http/user.http
  back-end/src/test/java/com/tdd/backend/auth/jwt/RefreshTokenServiceTest.java
Labels: 🦦back-end, 🐎 Performance

#174 feature(#127): experiencing 페이지 개발
  .github/workflows/main.yml
  front-end/src/apis/login.ts
  front-end/src/app.ts
  front-end/src/components/BulletinBoard/BulletinBoard.module.scss
  front-end/src/components/BulletinBoard/BulletinBoard.ts
  front-end/src/components/Calendar/Calendar.module.scss
  front-end/src/components/Calendar/Calendar.ts
  front-end/src/components/Calendar/icon.ts
  front-end/src/components/ExperienceMap/ExperienceMap.module.scss
  front-end/src/components/ExperienceMap/ExperienceMap.ts
  front-end/src/components/ExperienceMap/interface.ts
  front-end/src/components/ImageSlider/ImageSlider.ts
  front-end/src/components/LoginForm/LoginForm.ts
  front-end/src/components/Navbar/Navbar.module.scss
  front-end/src/components/Navbar/Navbar.ts
  front-end/src/components/Navbar/icon.ts
  front-end/src/components/OptionForm/OptionForm.module.scss
  front-end/src/components/OptionForm/OptionForm.ts
  front-end/src/constants/routeInfo.ts
  front-end/src/pages/experiencing.ts
  front-end/src/store/OptionStore/DataHandler.ts
  front-end/src/store/OptionStore/OptionStore.ts
  front-end/src/store/OptionStore/interface.ts
  front-end/src/styles/experiencing.module.scss
  front-end/src/utils/urlParser.ts
Labels: 🐱front-end

#176 feature(#173) driving response에 post id 추가 및 자잘한 수정
  back-end/src/main/java/com/tdd/backend/post/controller/DrivingController.java
  back-end/src/main/java/com/tdd/backend/post/data/PostDto.java
  back-end/src/main/java/com/tdd/backend/post/model/Post.java
  back-end/src/main/java/com/tdd/backend/post/service/DrivingService.java
  back-end/src/test/http/driving.http
  back-end/src/test/http/myPage.http
Labels: 🐞 BugFix, ✨ Feature, 📬 API, 🦦back-end

#179 fix(#175) : Redis 구조를 제거하며 테스트 코드에 반영되지 않은 부분 수정 및 JWT 로직 개선 (이메일 추가, 불필요한 enum 삭제)
  back-end/src/main/java/com/tdd/backend/auth/AuthResolver.java
  back-end/src/main/java/com/tdd/backend/auth/jwt/JwtProvider.java
  back-end/src/main/java/com/tdd/backend/car/model/Car.java
  back-end/src/main/java/com/tdd/backend/car/model/Option.java
  back-end/src/main/java/com/tdd/backend/config/WebMvcConfig.java
  back-end/src/main/java/com/tdd/backend/exception/ExceptionController.java
  back-end/src/main/java/com/tdd/backend/post/controller/SharingController.java
  back-end/src/main/java/com/tdd/backend/user/controller/UserController.java
  back-end/src/main/java/com/tdd/backend/user/data/User.java
  back-end/src/main/java/com/tdd/backend/user/service/AuthService.java
  back-end/src/test/http/driving.http
  back-end/src/test/http/sharing.http
  back-end/src/test/http/user.http
  back-end/src/test/java/com/tdd/backend/auth/encrypt/JwtEncryptTest.java
  back-end/src/test/java/com/tdd/backend/post/PostControllerTest.java
  back-end/src/test/java/com/tdd/backend/user/UserControllerTest.java
  back-end/src/test/java/com/tdd/backend/user/UserServiceTest.java
Labels: 🐞 BugFix, 🔨 Refactor, 🦦back-end

#180 feature(#139): mypage api 연동
  front-end/src/apis/mypage.ts
  front-end/src/components/MyPage/MyPage.module.scss
  front-end/src/components/MyPage/MyPage.ts
  front-end/src/components/MyPage/template.ts
Labels: 🎨 Html&css, 📬 API, 🐱front-end

#186 api(#182): detailPage api 연동
  front-end/src/apis/detailPage.ts
  front-end/src/components/DetailPage/DetailPage.module.scss
  front-end/src/components/DetailPage/DetailPage.ts
Labels: 📬 API, 🔨 Refactor, 🐱front-end

#184 feature(#118) email alarm 기능 구현
  back-end/build.gradle
  back-end/src/main/java/com/tdd/backend/exception/ExceptionController.java
  back-end/src/main/java/com/tdd/backend/mail/data/EmailMessage.java
  back-end/src/main/java/com/tdd/backend/mail/data/PostInfo.java
  back-end/src/main/java/com/tdd/backend/mail/data/UserType.java
  back-end/src/main/java/com/tdd/backend/mail/exception/EmailNotFoundException.java
  back-end/src/main/java/com/tdd/backend/mail/service/MailService.java
  back-end/src/main/java/com/tdd/backend/mypage/controller/MyPageController.java
  back-end/src/main/java/com/tdd/backend/post/controller/DrivingController.java
  back-end/src/main/java/com/tdd/backend/post/repository/PostRepository.java
  back-end/src/main/java/com/tdd/backend/post/service/DrivingService.java
  back-end/src/main/java/com/tdd/backend/user/repository/UserRepository.java
Labels: ✨ Feature, 🦦back-end

#191 feature(#181): 경험하기 페이지 데이터 api 연결
  front-end/src/components/BulletinBoard/BulletinBoard.module.scss
  front-end/src/components/BulletinBoard/BulletinBoard.ts
  front-end/src/components/Calendar/Calendar.ts
  front-end/src/components/CopyLinkBtn/CopyLinkBtn.module.scss
  front-end/src/components/CopyLinkBtn/CopyLinkBtn.ts
  front-end/src/components/ExperienceMap/ExperienceMap.ts
  front-end/src/components/ImageSlider/ImageSlider.ts
  front-end/src/components/OptionForm/OptionForm.module.scss
  front-end/src/components/OptionForm/OptionForm.ts
  front-end/src/constants/carList.ts
  front-end/src/pages/experiencing.ts
  front-end/src/store/OptionStore/DataHandler.ts
  front-end/src/store/OptionStore/OptionStore.ts
  front-end/src/store/OptionStore/interface.ts
Labels: ✨ Feature, 📬 API, 🐱front-end

#193 Fe/feat/about
  front-end/src/components/About/About.module.scss
  front-end/src/components/About/About.ts
  front-end/src/components/About/template.ts
  front-end/src/pages/aboutus.ts
Labels: ✨ Feature, 🎨 Html&css, 🐱front-end

#194 feature(#189) add image to api 개발
  back-end/src/main/java/com/tdd/backend/car/repository/CarRepository.java
  back-end/src/main/java/com/tdd/backend/mypage/data/DefaultInfo.java
  back-end/src/main/java/com/tdd/backend/mypage/service/MyPageService.java
  back-end/src/main/java/com/tdd/backend/post/data/DrivingResponse.java
  back-end/src/main/java/com/tdd/backend/post/model/Post.java
  back-end/src/main/java/com/tdd/backend/post/service/DrivingService.java
Labels: ✨ Feature, 📬 API, 🦦back-end

#196 perf(#192) : email 알람 서비스 비동기 처리
  back-end/src/main/java/com/tdd/backend/auth/AuthResolver.java
  back-end/src/main/java/com/tdd/backend/config/AsyncConfig.java
  back-end/src/main/java/com/tdd/backend/mail/service/MailService.java
  back-end/src/main/java/com/tdd/backend/post/controller/DrivingController.java
  back-end/src/main/java/com/tdd/backend/post/service/DrivingService.java
  back-end/src/main/java/com/tdd/backend/user/data/UserToken.java
Labels: 🔨 Refactor, 🦦back-end, 🐎 Performance

#195 fix(#188): API 수정에 따른 이미지 render 방식 수정
  front-end/src/components/DetailPage/DetailPage.ts
  front-end/src/components/MyPage/MyPage.module.scss
  front-end/src/components/MyPage/MyPage.ts
Labels: 📬 API, 🔨 Refactor, 🐱front-end, 🐎 Performance

#199 feature(#198) mycar 관련 api 개발
  back-end/src/main/java/com/tdd/backend/car/repository/CarRepository.java
  back-end/src/main/java/com/tdd/backend/mypage/MyCarRepository.java
  back-end/src/main/java/com/tdd/backend/mypage/controller/MyCarController.java
  back-end/src/main/java/com/tdd/backend/mypage/data/MyCarCreate.java
  back-end/src/main/java/com/tdd/backend/mypage/data/MyCarDto.java
  back-end/src/main/java/com/tdd/backend/mypage/data/MyCarResponse.java
  back-end/src/main/java/com/tdd/backend/mypage/model/MyCar.java
  back-end/src/main/java/com/tdd/backend/mypage/service/MyCarService.java
  back-end/src/main/java/com/tdd/backend/mypage/service/MyPageService.java
  back-end/src/main/java/com/tdd/backend/post/controller/SharingController.java
  back-end/src/main/java/com/tdd/backend/post/data/LocationDto.java
  back-end/src/main/java/com/tdd/backend/post/data/SharingDto.java
  back-end/src/main/java/com/tdd/backend/post/data/TesterDto.java
  back-end/src/main/java/com/tdd/backend/post/model/Option.java
  back-end/src/main/java/com/tdd/backend/post/model/Post.java
  back-end/src/main/java/com/tdd/backend/post/repository/PostRepository.java
  back-end/src/main/java/com/tdd/backend/post/service/DrivingService.java
  back-end/src/main/java/com/tdd/backend/post/service/SharingService.java
  back-end/src/main/resources/schema.sql
  back-end/src/test/http/mycar.http
  back-end/src/test/http/sharing.http
  back-end/src/test/java/com/tdd/backend/mycar/MyCarRepositoryTest.java
  back-end/src/test/java/com/tdd/backend/mycar/MyCarServiceTest.java
  back-end/src/test/java/com/tdd/backend/post/PostControllerTest.java
  back-end/src/test/java/com/tdd/backend/post/PostRepositoryTest.java
  back-end/src/test/java/com/tdd/backend/render/OptionServiceTest.java
  back-end/src/test/java/com/tdd/backend/render/RenderControllerTest.java
Labels: ✨ Feature, 📬 API, ✅ Test, 🦦back-end

#203 fix(#198) bug fix
  back-end/src/main/java/com/tdd/backend/mypage/repository/MyCarRepository.java
  back-end/src/main/java/com/tdd/backend/mypage/service/MyCarService.java
  back-end/src/main/java/com/tdd/backend/mypage/service/MyPageService.java
  back-end/src/main/java/com/tdd/backend/post/service/DrivingService.java
  back-end/src/test/java/com/tdd/backend/mycar/MyCarRepositoryTest.java
  back-end/src/test/java/com/tdd/backend/mycar/MyCarServiceTest.java
  back-end/src/test/java/com/tdd/backend/post/PostControllerTest.java
  back-end/src/test/java/com/tdd/backend/post/PostRepositoryTest.java
Labels: 🐞 BugFix, 📬 API, 🦦back-end

#207 fix(#206) mypage 오류 수정
  back-end/src/main/java/com/tdd/backend/car/repository/CarRepository.java
  back-end/src/main/java/com/tdd/backend/car/service/OptionService.java
  back-end/src/main/java/com/tdd/backend/mypage/controller/MyCarController.java
  back-end/src/main/java/com/tdd/backend/mypage/data/MyCarResponse.java
  back-end/src/main/java/com/tdd/backend/mypage/repository/MyCarRepository.java
  back-end/src/main/java/com/tdd/backend/mypage/service/MyPageService.java
  back-end/src/main/java/com/tdd/backend/post/repository/PostRepository.java
  back-end/src/test/http/mycar.http
  back-end/src/test/java/com/tdd/backend/auth/encrypt/JwtEncryptTest.java
  back-end/src/test/java/com/tdd/backend/mycar/MyCarServiceTest.java
  back-end/src/test/java/com/tdd/backend/post/PostControllerTest.java
  back-end/src/test/java/com/tdd/backend/post/PostRepositoryTest.java
  back-end/src/test/java/com/tdd/backend/render/RenderControllerTest.java
  back-end/src/test/java/com/tdd/backend/user/UserControllerTest.java
Labels: 🐞 BugFix, 📬 API, 🦦back-end

#211 fix(#208) mycar 맵핑 오류 수정
  back-end/src/main/java/com/tdd/backend/mypage/repository/MyCarRepository.java
  back-end/src/test/http/mycar.http
Labels: 🐞 BugFix, 📬 API, 🦦back-end

#210 refactor(#205) : 메일 전송 이벤트 처리
  back-end/src/main/java/com/tdd/backend/mail/MailEventListener.java
  back-end/src/main/java/com/tdd/backend/mail/service/MailService.java
  back-end/src/main/java/com/tdd/backend/post/service/DrivingService.java
Labels: 🔨 Refactor, 🦦back-end

#202 fix(#201): 맵 컴포넌트 재배치
  front-end/src/components/BulletinBoard/BulletinBoard.module.scss
  front-end/src/components/BulletinBoard/BulletinBoard.ts
  front-end/src/components/DetailPage/DetailPage.ts
  front-end/src/components/ExperienceMap/ExperienceMap.module.scss
  front-end/src/components/ExperienceMap/ExperienceMap.ts
  front-end/src/components/OptionForm/OptionForm.module.scss
  front-end/src/constants/routeInfo.ts
  front-end/src/pages/experiencing.ts
  front-end/src/store/MarkerController.ts
  front-end/src/store/OptionStore/interface.ts
  front-end/src/styles/experiencing.module.scss
Labels: 🐞 BugFix, ✨ Feature, 🐱front-end

#212 feat(#197): 차 등록 페이지 개발 및 마이페이지 수정
  front-end/src/apis/login.ts
  front-end/src/apis/mypage.ts
  front-end/src/apis/sharing.ts
  front-end/src/components/Calendar/Calendar.module.scss
  front-end/src/components/DetailPage/DetailPage.ts
  front-end/src/components/MyPage/MyPage.module.scss
  front-end/src/components/MyPage/MyPage.ts
  front-end/src/components/MyPage/template.ts
  front-end/src/components/RegisterCar/RegisterCar.module.scss
  front-end/src/components/RegisterCar/RegisterCar.ts
  front-end/src/components/SharingForm/SharingForm.module.scss
  front-end/src/components/SharingForm/SharingForm.ts
  front-end/src/components/SharingMap/SharingMap.ts
  front-end/src/constants/carList.ts
  front-end/src/constants/routeInfo.ts
  front-end/src/pages/sharing.ts
  front-end/src/store/RegisterStore/DataHandler.ts
  front-end/src/store/RegisterStore/RegisterStore.ts
  front-end/src/store/RegisterStore/interface.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API, 🐱front-end

#213 feature(#128): 공유하기 페이지 개발
  front-end/src/apis/sharing.ts
  front-end/src/components/SharingForm/SharingForm.ts
  front-end/src/components/SharingForm/interface.ts
  front-end/src/components/SharingMap/SharingMap.module.scss
  front-end/src/components/SharingMap/SharingMap.ts
  front-end/src/utils/autoCompletor.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API, 🐱front-end

#216 perf(#214) : posts 요청 시 지도 바운더리에 대한 location filter 적용하여 응답
  back-end/src/main/java/com/tdd/backend/auth/CORSFilter.java
  back-end/src/main/java/com/tdd/backend/post/data/DrivingDto.java
  back-end/src/main/java/com/tdd/backend/post/data/LocationDto.java
  back-end/src/main/java/com/tdd/backend/post/repository/PostRepository.java
  back-end/src/main/java/com/tdd/backend/post/service/DrivingService.java
  back-end/src/test/http/driving.http
  back-end/src/test/java/com/tdd/backend/post/PostRepositoryTest.java
Labels: 🐞 BugFix, 🔨 Refactor, 🦦back-end, 🐎 Performance

#218 api(#217): detail Page api 연결 및 리팩토링
  front-end/src/apis/detailPage.ts
  front-end/src/components/DetailPage/DetailPage.ts
  front-end/src/components/MyPage/MyPage.ts
Labels: 📬 API, 🔨 Refactor, 🐱front-end

#221 fix(#219): 옵션으로 필터링할 때 잘못된 쿼리 수정, 메서드 및 변수 변경
  back-end/src/main/java/com/tdd/backend/post/repository/PostRepository.java
  back-end/src/main/java/com/tdd/backend/post/service/DrivingService.java
  back-end/src/test/java/com/tdd/backend/post/PostRepositoryTest.java
Labels: 🐞 BugFix, 🦦back-end

#223 Refactor/#159 deploy fix
  back-end/build.gradle
Labels: 🐞 BugFix, 🌏 Deploy, 🔨 Refactor

#222 performance(#215): 경험하기 페이지 최적화, api 연결
  front-end/index.html
  front-end/src/apis/login.ts
  front-end/src/components/DetailPage/DetailPage.ts
  front-end/src/components/ExperienceMap/ExperienceMap.module.scss
  front-end/src/components/ExperienceMap/ExperienceMap.ts
  front-end/src/components/LoginForm/LoginForm.ts
  front-end/src/components/MyPage/MyPage.ts
  front-end/src/components/Navbar/Navbar.ts
  front-end/src/components/RegisterCar/RegisterCar.ts
  front-end/src/components/SharingForm/SharingForm.ts
  front-end/src/components/SharingMap/SharingMap.module.scss
  front-end/src/components/SharingMap/SharingMap.ts
  front-end/src/constants/carList.ts
  front-end/src/core/Router.ts
  front-end/src/pages/sharing.ts
  front-end/src/store/AuthStore.ts
  front-end/src/store/OptionStore/DataHandler.ts
  front-end/src/store/OptionStore/OptionStore.ts
  front-end/src/store/OptionStore/interface.ts
  front-end/src/store/RegisterStore/DataHandler.ts
  front-end/src/styles/loadingSpinner.module.scss
  front-end/src/styles/main.scss
  front-end/src/utils/loadingSpinner.ts
  front-end/src/utils/navigatator.ts
  front-end/src/utils/notification.ts
Labels: ✨ Feature, 📬 API, 🐱front-end, 🐎 Performance

#224 fix(#withoutIssue): register에서 제대로 post되지 않는 문제
  front-end/src/components/MyPage/MyPage.ts
  front-end/src/components/RegisterCar/RegisterCar.ts
Labels: 📬 API, 🐱front-end

#229 fix(#225): 마무리로 찾은 이슈들 해결
  front-end/src/components/CopyLinkBtn/CopyLinkBtn.module.scss
  front-end/src/components/CopyLinkBtn/CopyLinkBtn.ts
  front-end/src/components/ExperienceMap/ExperienceMap.module.scss
  front-end/src/components/ExperienceMap/ExperienceMap.ts
  front-end/src/components/LoginForm/LoginForm.ts
  front-end/src/components/MyPage/MyPage.ts
  front-end/src/components/Navbar/Navbar.ts
  front-end/src/components/RegisterCar/RegisterCar.ts
  front-end/src/components/SharingForm/SharingForm.module.scss
  front-end/src/components/SharingForm/SharingForm.ts
  front-end/src/components/SharingMap/SharingMap.module.scss
  front-end/src/components/SharingMap/SharingMap.ts
  front-end/src/constants/routeInfo.ts
  front-end/src/pages/addcar.ts
  front-end/src/pages/details.ts
  front-end/src/pages/experiencing.ts
  front-end/src/pages/mypage.ts
  front-end/src/styles/loadingSpinner.module.scss
Labels: 🐞 BugFix, ✨ Feature, 🎨 Design, 🐱front-end

#230 fix, refactor(#226): Meta, logo, css 수정
  front-end/index.html
  front-end/src/components/About/About.module.scss
  front-end/src/components/About/template.ts
  front-end/src/components/Clauses/Clauses.ts
  front-end/src/components/DetailPage/DetailPage.ts
  front-end/src/components/Footer/Footer.ts
  front-end/src/components/Home/template.ts
  front-end/src/components/ImageSlider/ImageSlider.module.scss
  front-end/src/components/ImageSlider/ImageSlider.ts
  front-end/src/components/MyPage/MyPage.module.scss
  front-end/src/components/MyPage/MyPage.ts
  front-end/src/components/Navbar/Navbar.ts
  front-end/src/components/RegisterCar/RegisterCar.module.scss
  front-end/src/components/RegisterCar/RegisterCar.ts
  front-end/src/styles/main.scss
Labels: 🎨 Design, 🐱front-end

#235 fix: appointments가 비었을 경우 리턴하지 않도록 수정
  back-end/src/main/java/com/tdd/backend/post/service/DrivingService.java
Labels: 🐞 BugFix, 🦦back-end

#237 design(#236): 게시글 제목 요청사항으로 보여주기
  front-end/src/components/BulletinBoard/BulletinBoard.module.scss
  front-end/src/components/BulletinBoard/BulletinBoard.ts
  front-end/src/components/Home/template.ts
  front-end/src/components/Navbar/Navbar.module.scss
Labels: 🎨 Design, 🐱front-end

#239 fix(#238): 링크 복사 붙여넣기 할수 있도록 인코딩
  front-end/src/components/CopyLinkBtn/CopyLinkBtn.ts
Labels: ✨ Feature, 🐱front-end
